*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #000106;
    --secondary-color: #fff;
}
  
.dark-theme{
    --primary-color: #edf2fc;
    /* --secondary-color: #212121; */
    --secondary-color: #2c2c34;
}


/* Navbar pc version */
.navbar{
    background-color: var(--secondary-color);
}
.navbar-logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    user-select: none;
    flex: 1;
    color: var(--primary-color);
}

.navbar ul{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 40px;
    color: var(--primary-color);
}

.navbar li{
    list-style-type: none;
    padding: 1.5rem;
    font-size: 20px;
}

.navbar a{
    text-decoration: none;
    /* color: #fffff9; */
    color: var(--primary-color);
}

.navbar-links a:hover{
    color: #DF5646;
}


.navbar-toggle{
    color: var(--primary-color);
    display: none;
}

/* Navbar media tags */
@media (max-width: 600px) {
    .navbar ul{
        flex-wrap: wrap;
    }


    .navbar-toggle{
        display: block;
    }

    .navbar-links{
        display: none;
        width: 100%;
        text-align: center;
    }

    .navbar-links a:hover{
        color: #ffffff;
        /* background-color: #232323; */
        border: none;
        width: 100%;
    }

    .active{
        display: block;
    }
}

.hero{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    /* box-sizing: border-box; */
    color: var(--primary-color);
    background-color: var(--secondary-color);
    position: relative;
    z-index: 1;
    overflow: hidden;
}


.btn{
    text-decoration: none;
    color: var(--primary-color);
    margin-left: 30px;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    padding: 6px 25px;
}


.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: space-between;
}


.col-1{
    flex-basis: 40%;
    min-width: 300px;
    margin-bottom: 30px;
    position: relative;
}

.col-2{
    flex-basis: 55%;
    min-width: 300px;
    margin-bottom: 50px;
    padding: 0 20px;
    color: var(--primary-color);
}

.col-2 h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 72px;
    font-weight: 600;
}

.col-1 img{
    width: 100%;
    padding: 0 30px;
}

.col-2 h1 span{
    color: #DF5646;
}

.col-2 p span{
    color: #DF5646;
}
.col-2 p{
    margin: 10px 0 50px;
    max-width: 580px;
    font-size: 26px;
}

.col-2 .btn{
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    background: var(--secondary-color);
    color: #303ef3;
    font-family: 'Fugaz One';
    margin-left: 0;
    margin-right: 30px;
    background-color: #202020;
}


.col-2 .btn:hover{
    border-color: black;
    color: blanchedalmond;
    background: linear-gradient(90deg, #e73e2b, #DF5646);
}
.elements{
    position: absolute;
    left: 0;
    top: 0;
    animation: move 2.5s linear infinite;
}

@keyframes move{
    0%{
        transform: translate(-15px, 0px);
    }
    25%{
        transform: translate(-0px, -15px);
    }
    50%{
        transform: translate(15px, -15px);
    }
    100%{
        transform: translate(-15px, 0px);
    }
}




/* theme switcher */
#icon{
    width: 30px;
    cursor: pointer;
  }


  /* page 2 services */
.services{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    background-color: var(--secondary-color);
}

.services h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    color: var(--primary-color);
}

.services h1::after{
    content: '';
    background-color: #DF5646;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom:  -5px;
    left: 50%;
    transform: translateX(-50%);
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.service{
    text-align: center;
    padding: 35px 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    color: var(--primary-color);
    background: transparent;
}

.service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #303ef3;
}

.service h2{
    position: relative;
    margin-bottom: 25px;
    font-family: 'Fugaz One';
}
.service h2::after{
    content: '';
    background-color: #303ef3;
    width: 120px;
    height: 5px;
    position: absolute;
    bottom:  -5px;
    left: 50%;
    transform: translateX(-50%);
}

.service:hover{
    background-color: #303ef3;
    color: #fff;
    transform: scale(1.20);
}

.service:hover i{
    /* color: var(--secondary-color); */
    color: #DF5646;
}


.service:hover h2::after{
    /* color: var(--secondary-color); */
    background-color: #DF5646;
}


.service span{
    text-decoration: underline;
}

